.controller{
    -fx-background-color: #4eb543;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.controller:pressed {
    -fx-background-color: #249C17;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.combo-box{
    -fx-background-color: #4eb543;
    -fx-background-radius: 15px;

}

.combo-box .list-cell {
    -fx-font-size: 20px;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.combo-box .arrow-button {
    -fx-background-color: #4eb543;
    -fx-background-radius: 15px;
    -fx-font-size: 20px;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: black;
}